.footer-container {
  width: 100vw;
  height: 9vh;
  background-color: rgb(12, 29, 104,0.7);
  position:absolute;
  top:63.7%;
  z-index: 2;
 

  p {
    font-size: 30px;
    color: white;
    padding: 22px;
    margin-left: 20%;
}
}
